

#status{
    width: 90%;
    margin: 0 auto;
}
    #status p{
        margin: 0;
    }
    #turn_text{
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0 .5rem 0 !important;
    }
    #loading_gif_ingame{
        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        z-index: 10;

        opacity: 0%;

        transition: opacity .5s;
        transition-delay: 1s;

        padding: 1rem;
        background-color: rgba(240, 248, 255, 0.7);
    }
    
.loading_text{
    color: red;
}


@media screen and (max-aspect-ratio: 7/10) {

    #loading_gif_ingame{
        width: 20vw;
    }
}